@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
}


.bg-custom{
    background-color: #035247;
}
.bg-custom:hover{
    background-color: #011d19;
}
.text-custom{
    color:#035247;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: #9e9d9d;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}